*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/data
/backend/data
/uploads
/backend/uploads
/backend/.env
/.env
/backend/.gradle
/backend/build
/backend/out
/captures
.externalNativeBuild
.cxx
local.properties
